li{list-style: none;}
a{text-decoration: none;}

body{
    background-image: url("../assets/img/bg.jpg");
}

input[type="text"], .message{
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    outline: none;
    text-align: center;
}

input[type="text"]::placeholder, .message:empty:not(:focus):before{
    font-size: 0.8rem;
    font-style: italic;
}

input[type="submit"] {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-duration: 0.2s;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}
input[type="submit"]:hover {
    border: 0.1px rgba(255, 255, 255, 0.055) outset;
    box-shadow: none;
}

.message{
    height: 5rem;
    padding: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    margin: auto;
}
.message:empty:not(:focus):before{
    content:attr(data-text);
    padding-left: 50%;
    color: rgba(141, 138, 138, 0.616);
}

footer  {
    margin-top: 8rem;
    font-size: calc(0.8rem + 0.6vw);
}

.grid-item{
    padding: 6px;
}

.form-grid{
    margin-top: 6px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.4rem;
}

.messages{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    overflow-y: auto;
    max-height: 20rem;
}
.messages>.card{
    justify-self: center;
    width: 80%;
    border-radius: 4px;
    background: rgba(121, 110, 112, 0.301);
}
.messages>.card>li{font-size: 1.1rem;}
.messages>.card>p{font-size: 1rem;}

.bg-gradient{
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526c7);
    background: linear-gradient(to right, #414345, #232526bb);
}

.bgimg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.txt-title{
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.show{display: grid;}
.hide{display: none;}

.fadein{
    animation: fadein 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}